.home-feed {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pagination > button:disabled {
    background-color: rgb(164, 164, 164);
}

.pagination > button:hover {
    cursor: pointer;
}
