.detail-wrapper {
    width: 1000px;
    display: flex;
    background-color: white;
    display: flex;
    margin: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.detail-img {
    max-width: 800px;
    min-width: 500px;
    height: auto;
}

.btn {
    width: 100px;
    height: 40px;
}

.detail-info {
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    padding-left: 20px;
}

.input-comment {
    width: 90%;
    display: flex;
}

.input-comment button {
    width: 100px;
}