.forum-preview {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.forum-preview h2 {
    color: mediumseagreen;
    font-size: medium;
}

.forum-preview h2:hover {
    color: #2D6A4F;
    cursor: pointer;
}

.post-info {
    font-size: small;
}